@model CritterHeroes.Web.Features.Account.Models.ForgotPasswordModel

<div class="modal-container fade slide-down">

    <div class="modal-header">
        <button class="close pull-right" type="button" data-modal-close><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Forgot Password</h4>
    </div>

    <form id="reset-password-form" action="@Url.AccountForgotPasswordAction()">

        @Html.AntiForgeryToken()

        <div class="modal-body">
            <p id="message">Please enter your email address. Instructions for resetting your password will be emailed to you.</p>
            <div id="success" class="hidden">
                <p>Instructions for resetting your password have been emailed to you. Please check your email and follow the provided instructions to complete resetting your password.</p>
                <p>If you can't find the email, please check your spam folder.</p>
            </div>
            <section>
                @using (var property = Html.BeginProperty(x => x.ResetPasswordEmail))
                {
                    <div class="input-group">
                        <div class="input-group-icon"><span class="icon-email"></span></div>
                        <input type="email" autofocus name="@property.Name" @property.ValidationAttributes>
                    </div>
                    @property.ValidationMessage
                }
            </section>
        </div>

        <div class="modal-footer">
            <span class="busy message hidden">Resetting password...</span>
            <span id="button-container">
                <input id="reset-password" type="submit" class="btn btn-primary" value="Reset Password">
                <button type="button" id="close" data-modal-close class="btn btn-primary">Cancel</button>
            </span>
        </div>

    </form>
</div>
