@model CritterHeroes.Web.Features.Account.Models.ConfirmEmailModel

@{
    ViewBag.Title = "Confirm Email";
}

@section scripts{

    <script src="@Url.For("ch.busy-indicator.js")"></script>

    <script>

        (function (cheroes, $) {
            var btn = $('#submit').busyIndicator({ message: 'Confirming email...' });
            if (btn.data('show-modal') !== "") {
                cheroes.modal({
                    selector: '#modal'
                });
            }
        }(this.cheroes = this.cheroes || {}, jQuery));

    </script>
}

<div id="modal" class="modal-container fade slide-down">

    <div class="modal-body">Thank you for confirming your email address. You may now login..</div>

    <div class="modal-footer">
        <a href="@Url.AccountLoginAction()" class="btn btn-primary">Login</a>
    </div>

</div>

<form action="@Url.AccountConfirmEmailAction()" method="post" class="form-med center-horizontal">

    <p>Please enter your email address and the confirmation code that was emailed to you.</p>

    @Html.AntiForgeryToken()

    <section>
        @Html.ValidationSummary(excludePropertyErrors: true)
    </section>

    <section>
        @using (var property = Html.BeginProperty(x => x.Email))
        {
            <label for="@property.ID">Email</label>
            <div class="input-group">
                <div class="input-group-icon"><span class="icon-email"></span></div>
                <input type="email" id="@property.ID" name="@property.Name" autofocus @property.ValidationAttributes>
            </div>
            @property.ValidationMessage
        }
    </section>

    <section>
        @using (var property = Html.BeginProperty(x => x.ConfirmationCode))
        {
            <label for="@property.ID">Confirmation code</label>
            <div class="input-group">
                <div class="input-group-icon"><span class="icon-lock"></span></div>
                <input type="text" id="@property.ID" name="@property.Name" autofocus @property.ValidationAttributes>
            </div>
            @property.ValidationMessage
        }
    </section>

    <section>
        <span><input type="submit" id="submit" value="Confirm Email" data-show-modal="@Model.IsSuccess"></span>
        <a href="@Url.AccountLoginAction()" class="primary">Cancel</a>
    </section>

</form>
