@model CritterHeroes.Web.Features.Account.Models.EditProfileModel

@{
    ViewBag.Title = "Edit Profile";
}

@section scripts{
    <script src="@Url.For("ch.edit-profile.js")"></script>
}

<form action="@Url.AccountEditProfileAction()" method="post" class="form-med center-horizontal">

    @Html.AntiForgeryToken()

    <section>
        @Html.ValidationSummary(true)
    </section>

    <section>
        <label>Email</label>
        <div class="input-group">
            <div class="input-group-icon"><span class="icon-email"></span></div>
            <span class="form-control" readonly="readonly" title="@Model.Email">@Model.Email</span>
            <button id="edit-email" type="button" data-url="@Url.AccountEditProfileLoginAction()" class="btn btn-info"><span class="icon-edit"></span><span class="hide-xs">&nbsp;Change</span></button>
        </div>
    </section>

    <section id="unconfirmed-email-section" class="@(Model.UnconfirmedEmail.IsNullOrEmpty() ? "hidden" : "")">
        <label>Unconfirmed Email</label>
        <div class="input-group">
            <span class="input-group-icon"><span class="icon-email"></span></span>
            <span id="unconfirmed-email" class="form-control" readonly="readonly" title="@Model.UnconfirmedEmail">@Model.UnconfirmedEmail</span>
        </div>
    </section>

    <section>
        @using (var property = Html.BeginProperty(x => x.FirstName))
        {
            <label for="@property.ID">First Name</label>
            <div class="input-group">
                <span class="input-group-icon"><span class="icon-user"></span></span>
                <input type="text" id="@property.ID" name="@property.Name" value="@Model.FirstName" @property.ValidationAttributes>
            </div>
            @property.ValidationMessage
        }
    </section>

    <section>
        @using (var property = Html.BeginProperty(x => x.LastName))
        {
            <label for="@property.ID">Last Name</label>
            <div class="input-group">
                <span class="input-group-icon"><span class="icon-user"></span></span>
                <input type="text" id="@property.ID" name="@property.Name" value="@Model.LastName" @property.ValidationAttributes>
            </div>
            @property.ValidationMessage
        }
    </section>

    <section>
        <input type="submit" value="Save">
        @Html.RenderCancelButton()
    </section>

</form>
