@model CritterHeroes.Web.Features.Account.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@section scripts{
    <script src="@Url.For("ch.busy-indicator.js")"></script>
    <script src="@Url.For("ch.login.js")"></script>
}

<form action="@Url.AccountLoginAction(Model.ReturnUrl)" method="post" autocomplete="off" class="form-med center-horizontal">

    @Html.AntiForgeryToken()

    <section>
        <label for="@Html.IdFor(x => x.Email)">Email</label>
        <div class="input-group">
            <div class="input-group-icon"><span class="icon-email"></span></div>
            <input type="email" id="@Html.IdFor(x => x.Email)" name="@Html.NameFor(x => x.Email)" autofocus="autofocus" @Html.ValidationAttributesFor(x => x.Email)>
        </div>
        @Html.ValidationMessageFor(m => m.Email)
    </section>

    <section>
        <label for="@Html.IdFor(x => x.Password)">Password</label>
        <div class="input-group">
            <div class="input-group-icon"><span class="icon-lock"></span></div>
            <input type="password" id="@Html.IdFor(x => x.Password)" name="@Html.NameFor(x => x.Password)" @Html.ValidationAttributesFor(x => x.Password)>
            <button type="button" id="forgot-password" title="Forgot password?" class="btn btn-info" tabindex="-1" data-url="@Url.AccountForgotPasswordAction()">?</button>
        </div>
        @Html.ValidationMessageFor(m => m.Password)
    </section>

    <section>
        @Html.ValidationSummary(true, null)
    </section>

    <section class="flex-row">
        <input type="submit" value="Login">
        <a href="@Url.AccountConfirmEmailAction()" class="flex-cell-s1 text-right" tabindex="-1">Have confirmation code?</a><br />
    </section>
</form>
