@model CritterHeroes.Web.Features.Account.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@section scripts{
    <script src="@Url.For("ch.busy-indicator.js")"></script>
    <script src="@Url.For("ch.login.js")"></script>
}

<form action="@Url.AccountLoginAction(Model.ReturnUrl)" method="post" autocomplete="off" class="form-med center-horizontal">

    @Html.AntiForgeryToken()

    <section>
        @using (var property = Html.BeginProperty(x => x.Email))
        {
            <label for="@property.ID">Email</label>
            <div class="input-group">
                <div class="input-group-icon"><span class="icon-email"></span></div>
                <input type="email" id="@property.ID" name="@property.Name" autofocus @property.ValidationAttributes>
            </div>
            @property.ValidationMessage
        }
    </section>

    <section>
        @using (var property = Html.BeginProperty(x => x.Password))
        {
            <label for="@property.ID">Password</label>
            <div class="input-group">
                <div class="input-group-icon"><span class="icon-lock"></span></div>
                <input type="password" id="@property.ID" name="@property.Name" @property.ValidationAttributes>
                <button type="button" id="forgot-password" title="Forgot password?" class="btn btn-info" tabindex="-1" data-url="@Url.AccountForgotPasswordAction()">?</button>
            </div>
            @property.ValidationMessage
        }
    </section>

    <section>
        @Html.ValidationSummary(true)
    </section>

    <section class="flex-row">
        <input type="submit" value="Login">
        <a href="@Url.AccountConfirmEmailAction()" class="flex-cell-s1 text-right" tabindex="-1">Have confirmation code?</a><br />
    </section>
</form>
