@model CritterHeroes.Web.Features.Account.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

@section scripts{

    <script src="@Url.For("ch.busy-indicator.js")"></script>

    <script>

        (function (cheroes, $) {
            var btn = $('#submit').busyIndicator({ message: 'Resetting password...' });
            if (btn.data('show-modal') !== "") {
                cheroes.modal({
                    selector: '#modal'
                });
            }
        }(this.cheroes = this.cheroes || {}, jQuery));

    </script>
}

<div id="modal" class="modal-container fade slide-down">

    <div class="modal-body">Your password has been successfully reset.</div>

    <div class="modal-footer">
        <a href="@Url.HomeAction()" class="btn btn-primary">Continue</a>
    </div>

</div>

<form action="@Url.AccountResetPasswordAction()" method="post" class="form-med center-horizontal">

    <p>Please enter your email and a new password to complete resetting your password.</p>

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Code)

    <section>
        @Html.ValidationSummary(excludePropertyErrors: true)
    </section>

    <section>
        <label for="@Html.IdFor(x => x.Email)">Email</label>
        <div class="input-group">
            <div class="input-group-icon"><span class="icon-email"></span></div>
            <input type="email" id="@Html.IdFor(x => x.Email)" name="@Html.NameFor(x => x.Email)" autofocus="autofocus" @Html.ValidationAttributesFor(x => x.Email)>
        </div>
        @Html.ValidationMessageFor(x => x.Email)
    </section>

    <section>
        <label for="@Html.IdFor(x => x.Password)">Password</label>
        <div class="input-group">
            <span class="input-group-icon"><span class="icon-lock"></span></span>
            <input type="password" id="@Html.IdFor(x => x.Password)" name="@Html.NameFor(x => x.Password)" @Html.ValidationAttributesFor(x => x.Password)>
        </div>
        @Html.ValidationMessageFor(x => x.Password)
    </section>

    <section>
        <label for="@Html.IdFor(x => x.ConfirmPassword)">Confirm Password</label>
        <div class="input-group">
            <span class="input-group-icon"><span class="icon-lock"></span></span>
            <input type="password" id="@Html.IdFor(x => x.ConfirmPassword)" name="@Html.NameFor(x => x.ConfirmPassword)" @Html.ValidationAttributesFor(x => x.ConfirmPassword)>
        </div>
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </section>

    <section>
        <span><input type="submit" id="submit" value="Reset Password" data-show-modal="@Model.IsSuccess" /></span>
        <a href="@Url.AccountLoginAction()" class="primary">Cancel</a>
    </section>

</form>
