@model CritterHeroes.Web.Areas.Critters.Models.CrittersModel

@{
    ViewBag.Title = "Critters";
}

@section scripts{
    @Scripts.Render("~/bundles/critterslist")
}

<h2>Critters</h2>

<div class="filters-container">
    <section>Filters</section>
    <section>
        <label for="StatusID">Status</label>
        <select data-filter="statusID">
            <option>Any status</option>
            @foreach (var item in Model.StatusItems)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>
    </section>
</div>

<table id="critters-container" class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Sex</th>
            <th>Status</th>
            <th>Breed</th>
            <th>Foster</th>
        </tr>
    </thead>
    <tbody data-url="@Url.CritterListAction()" data-picture-url="@Url.Picture()">
    </tbody>
</table>

<ul class="paging-container"></ul>
