@model CH.Website.Models.Account.EditProfileModel

@{
    ViewBag.Title = "Edit Profile";
}

@section scripts{
    @Scripts.Render("~/bundles/chusername")
    @Scripts.Render("~/bundles/cheditprofile")
}

@using (Html.FluentHtml().Form().Class("form-horizontal").Begin())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.ReturnUrl)

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ValidationSummary(true, null)
        </div>
    </div>

    <div class="form-group">
        @Html.FluentHtml().Label().For(m => m.Username).Class("col-sm-2 control-label")
        <div class="col-sm-10 input-inline-container">
            @Html.FluentHtml().InputText().For(m => m.Username).Class("form-control").Placeholder("Username").AutoFocus().Data("url", Url.AccountAction(x => x.IsDuplicateUsername(null)))
            @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>

    <div class="form-group">
        @Html.FluentHtml().Label().For(m => m.Email).Class("col-sm-2 control-label")
        <div class="col-sm-10 input-inline-container">
            @Html.FluentHtml().InputEmail().For(m => m.Email).Class("form-control").Placeholder("Email")
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    <div class="form-group">
        @Html.FluentHtml().Label().For(m => m.FirstName).Class("col-sm-2 control-label")
        <div class="col-sm-10 input-inline-container">
            @Html.FluentHtml().InputText().For(m => m.FirstName).Class("form-control").Placeholder("First name")
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
    </div>

    <div class="form-group">
        @Html.FluentHtml().Label().For(m => m.LastName).Class("col-sm-2 control-label")
        <div class="col-sm-10 input-inline-container">
            @Html.FluentHtml().InputText().For(m => m.LastName).Class("form-control").Placeholder("Last name")
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Save" class="btn btn-primary btn-sm" />
        </div>
    </div>}
