@model CH.Website.Models.Account.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

@section scripts{

    @Scripts.Render("~/bundles/chbusyindicator")

    <script type="text/javascript">

        (function (cheroes, $) {
            var btn = $('#submit').busyIndicator({ message: 'Resetting password...' });
            if (btn.data('show-modal') === "") {
                $('#success-message').modal();
            }
        }(this.cheroes = this.cheroes || {}, jQuery));

    </script>
}

@Html.ModalDialog(Model.ModalDialog)

<p>Please enter either your email address or your username. Instructions for resetting your password will be emailed to you.</p>

@using (Html.FluentHtml().Form().Class("form-horizontal").Begin())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.ValidationSummary(excludePropertyErrors: true)
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email address:</label>
        <div class="col-sm-10">
            <input type="email" id="emailaddress" name="emailaddress" autofocus="autofocus" placeholder="Email address" class="form-control" />
            @Html.ValidationMessage("email")
        </div>
    </div>

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username:</label>
        <div class="col-sm-10">
            <input type="text" id="username" name="username" placeholder="Username" class="form-control" />
            @Html.ValidationMessage("username")
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @{string dataShowDialog = (Model.ModalDialog != null ? "data-show-modal" : ""); }
            <span><input type="submit" id="submit" class="btn btn-primary btn-sm" value="Reset Password" @dataShowDialog /></span>
            <a href="@Url.AccountAction(x => x.Login(null))" class="btn btn-primary btn-sm">Cancel</a>
        </div>
    </div>
}
