@model CritterHeroes.Web.Features.Admin.Organizations.Models.EditProfileModel

@{
    ViewBag.Title = "Edit Organization Profile";
}

@section scripts{
    <script src="@Url.For("dropzone.js")"></script>
    <script src="@Url.For("ch.organization-edit-profile.js")"></script>
}

<div id="modal" class="modal-container fade slide-down">

    <div class="modal-body">
        <p>Uploading logo...</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="cancel-upload" type="button" data-modal-close="" class="btn btn-primary">Cancel</button>
    </div>
</div>

<form action="@Url.OrganizationEditProfileAction()" method="post" id="edit-profile" enctype="multipart/form-data" class="flex-column">

    @Html.AntiForgeryToken()

    <div class="flex-row">

        <div class="flex-cell-s1">

            <section>
                <label for="@Html.IdFor(x => x.Name)">Name</label>
                <div class="input-group">
                    <div class="input-group-icon"><span class="icon-house"></span></div>
                    <input type="text" id="@Html.IdFor(x => x.Name)" name="@Html.NameFor(x => x.Name)" value="@Html.ValueFor(x => x.Name)" autofocus="autofocus" @Html.ValidationAttributesFor(x => x.Name)>
                </div>
                @Html.ValidationMessageFor(m => m.Name)
            </section>

            <section>
                <label for="@Html.IdFor(x => x.ShortName)">Abbreviated Name</label>
                <div class="input-group">
                    <div class="input-group-icon"><span class="icon-house"></span></div>
                    <input type="text" id="@Html.IdFor(x => x.ShortName)" name="@Html.NameFor(x => x.ShortName)" value="@Html.ValueFor(x => x.ShortName)" @Html.ValidationAttributesFor(x => x.ShortName)>
                </div>
                @Html.ValidationMessageFor(m => m.ShortName)
            </section>

            <section>
                <label for="@Html.IdFor(x => x.Email)">Email</label>
                <div class="input-group">
                    <div class="input-group-icon"><span class="icon-email"></span></div>
                    <input type="email" id="@Html.IdFor(x => x.Email)" name="@Html.NameFor(x => x.Email)" value="@Html.ValueFor(x => x.Email)" @Html.ValidationAttributesFor(x => x.Email)>
                </div>
                @Html.ValidationMessageFor(m => m.Email)
            </section>

        </div>
        <div class="pad-def">

            <section>
                <img id="logo" src="@Model.LogoUrl" class="logo-medium" alt="Logo" />
            </section>

            <section>
                <button id="change-logo" type="button" class="btn btn-info"><span class="icon-plus"></span>&nbsp;Change Logo</button>
                <div id="thumb-msg" class="busy message hidden">Getting thumbnail...</div>
                <div id="logo-error" class="field-validation-error"></div>
            </section>

        </div>
    </div>
    <div>

        <section id="error" class="validation-summary-errors">
            @Html.ValidationSummary(excludePropertyErrors: true)
        </section>

        <section>
            <input type="submit" value="Save">
            @Html.RenderCancelButton()
        </section>

    </div>

</form>
