@model CritterHeroes.Web.Features.Admin.Organizations.Models.EditProfileModel

@{
    ViewBag.Title = "Edit Organization Profile";
}

@section scripts{
    <script src="@Url.For("dropzone.js")"></script>
    <script src="@Url.For("ch.organization-edit-profile.js")"></script>
}

<div id="modal" class="modal-container fade slide-down">

    <div class="modal-body">
        <p>Uploading logo...</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="cancel-upload" type="button" data-modal-close class="btn btn-primary">Cancel</button>
    </div>
</div>

<form action="@Url.OrganizationEditProfileAction()" method="post" id="edit-profile" enctype="multipart/form-data" class="flex-column">

    @Html.AntiForgeryToken()

    <div class="flex-row">

        <div class="flex-cell-s1">

            @using (var property = Html.BeginProperty(x => x.Name))
            {
                <section>
                    <label for="@property.ID">Name</label>
                    <div class="input-group">
                        <div class="input-group-icon"><span class="icon-house"></span></div>
                        <input type="text" id="@property.ID" name="@property.Name" value="@Model.ShortName" autofocus @property.ValidationAttributes>
                    </div>
                    @property.ValidationMessage
                </section>
            }

            @using (var property = Html.BeginProperty(x => x.ShortName))
            {
                <section>
                    <label for="@property.ID">Abbreviated Name</label>
                    <div class="input-group">
                        <div class="input-group-icon"><span class="icon-house"></span></div>
                        <input type="text" id="@property.ID" name="@property.Name" value="@Model.ShortName" @property.ValidationAttributes>
                    </div>
                    @property.ValidationMessage
                </section>
            }

            @using (var property = Html.BeginProperty(x => x.Email))
            {
                <section>
                    <label for="@property.ID">Email</label>
                    <div class="input-group">
                        <div class="input-group-icon"><span class="icon-house"></span></div>
                        <input type="email" id="@property.ID" name="@property.Name" value="@Model.Email" @property.ValidationAttributes>
                    </div>
                    @property.ValidationMessage
                </section>
            }

        </div>

        <div class="pad-def">

            <section>
                <img id="logo" src="@Model.LogoUrl" class="logo-medium" alt="Logo" />
            </section>

            <section>
                <button id="change-logo" type="button" class="btn btn-info"><span class="icon-plus"></span>&nbsp;Change Logo</button>
                <div id="thumb-msg" class="busy message hidden">Getting thumbnail...</div>
                <div id="logo-error" class="field-validation-error"></div>
            </section>

        </div>

    </div>
    <div>

        <section id="error" class="validation-summary-errors">
            @Html.ValidationSummary(excludePropertyErrors: true)
        </section>

        <section>
            <input type="submit" value="Save">
            @Html.RenderCancelButton()
        </section>

    </div>

</form>
