@model CritterHeroes.Web.Areas.Home.Models.MenuModel
@using CritterHeroes.Web.Common.Identity

<nav>
    <div>
        <header>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="@Model.LogoUrl" class="logo-small" />
            <a href="@Url.CritterHomeAction()" class="navbar-brand">@Model.OrganizationShortName</a>
        </header>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="@Url.CritterHomeAction()">Home</a></li>
                @if (Model.CurrentUser.IsInRole(IdentityRole.RoleNames.Admin) | Model.CurrentUser.IsInRole(IdentityRole.RoleNames.MasterAdmin))
                {
                    <li><a href="@Url.ContactsHomeAction()">Contacts</a></li>
                }
                @if (Model.CurrentUser.IsInRole(IdentityRole.RoleNames.MasterAdmin))
                {
                    <li><a href="@Url.ErrorLogHomeAction()">Error Log</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.OrganizationEditProfileAction()">Organization Profile</a></li>
                            <li><a href="@Url.AdminCrittersHomeAction()">Critters</a></li>
                            <li><a href="@Url.AdminPeopleHomeAction()">People</a></li>
                            <li><a href="@Url.ListsHomeAction()">Lists Dashboard</a></li>
                            <li><a href="@Url.AdminEmailHomeAction()">Email</a></li>
                        </ul>
                    </li>
                }
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (Model.CurrentUser.IsAuthenticated)
                {
                    <li><a href="@Url.AccountEditProfileAction()" class="hidden-xs">Welcome, @Model.UserDisplayName</a></li>
                    <li><a href="@Url.AccountEditProfileAction()" class="visible-xs">Edit Profile</a></li>
                    <li><a href="@Url.AccountLogoutAction()">Logout</a></li>
                }
                else
                {
                    <li><a href="@Url.AccountLoginAction()">Login</a></li>
                }
            </ul>

        </div>
    </div>
</nav>
