@model AR.Website.Areas.Admin.Models.DashboardModel

@{
    ViewBag.Title = "Data Maintenance - Dashboard";
}

<h2>Data Maintenance Dashboard</h2>

<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            @foreach (DashboardItemColumn column in Model.Columns)
            {
                <th colspan="2">@column.Title</th>
            }
        </tr>
    </thead>
    <tbody>

    @foreach (DashboardItemModel item in Model.Items)
    {
        <tr data-id="@item.ID">
            <td>@item.Title<span class="busy pull-right margin-left-small">&nbsp;</span></td>
            @foreach (DashboardItemColumn column in Model.Columns)
            {
                <td data-storage="@column.StorageSourceID" data-status="valid"><span class="badge"></span></td>
                <td data-storage="@column.StorageSourceID" data-status="invalid"><span class="badge"></span></td>
            }
        </tr>
    }

    </tbody>
</table>