@model AR.Website.Areas.Admin.Models.DashboardModel

@{
    ViewBag.Title = "Data Maintenance - Dashboard";
}

@section scripts{
    @Scripts.Render("~/bundles/datadashboard")
}

<h2>Data Maintenance Dashboard</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 col-xs-4">&nbsp;</div>
        <div class="col-md-8 col-xs-8">
            @foreach (DashboardItemColumn column in Model.Columns)
            {
                <div class="col-md-4 col-xs-4 text-center">@column.Title</div>
            }
        </div>
    </div>

    @foreach (DashboardItemModel item in Model.Items)
    {
        <div class="row" data-id="@item.ID">
            <div class="border-right col-md-4 col-xs-4">@item.Title<span class="pull-right busy indicator margin-left-small"><a href="#" title="Refresh" class="refresh">Refresh</a></span></div>
            <div class="col-md-8 col-xs-8">
                @foreach (DashboardItemColumn column in Model.Columns)
                {
                    <div data-storage="@column.StorageSourceID" class="storage-source border-right col-md-4 col-xs-4">
                        <div data-status="valid" class="status pull-left"><div class="badge badge-valid"></div></div>
                        <div data-status="invalid" class="status pull-right"><div class="badge badge-invalid"></div></div>
                    </div>
                }
            </div>
        </div>
    }

</div>
