@model AR.Website.Areas.Admin.Models.DashboardModel

@{
    ViewBag.Title = "Data Maintenance - Dashboard";
}

@section scripts{
    @Scripts.Render("~/bundles/datadashboard")
}

<h2>Data Maintenance Dashboard</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4 col-xs-4">&nbsp;</div>
        <div class="col-md-8 col-xs-8">
            <div class="row">
                <div class="col-md-6 col-xs-6 text-center">@Model.TargetStorageItem.Title</div>
                <div class="col-md-6 col-xs-6 text-center">@Model.SourceStorageItem.Title</div>
            </div>
        </div>
    </div>

    @foreach (DashboardItemModel item in Model.Items)
    {
        <div class="row" data-id="@item.ID">
            <div class="border-right col-md-4 col-xs-4">
                <span class="text-with-button">@item.Title</span>
                <button type="button" data-toggle-values="" class="btn btn-primary btn-xs pull-right">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;
                </button>
                <a href="#" title="Refresh" class="refresh btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-refresh"></span><span class="optional-text">&nbsp;Refresh</span></a>
                <button type="button" class="btn btn-xs pull-right busy indicator">&nbsp;</button>
            </div>
            <div class="col-md-8 col-xs-8">
                <div class="row">
                    <div data-target="@Model.TargetStorageItem.StorageSourceID" class="border-right col-md-4 col-xs-4">
                        <div data-status-container="" class="clearfix">
                            <div data-status="valid" class="status pull-left"><div class="badge badge-valid"></div></div>
                            <div data-status="invalid" class="status pull-right clearfix"><div class="badge badge-invalid"></div></div>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-2 border-right">&nbsp;</div>
                    <div data-source="@Model.SourceStorageItem.StorageSourceID" class="border-right col-md-4 col-xs-4">
                        <div data-status-container="" class="clearfix">
                            <div data-status="valid" class="status pull-left"><div class="badge badge-valid"></div></div>
                            <div data-status="invalid" class="status pull-right clearfix"><div class="badge badge-invalid"></div></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div data-target="@Model.TargetStorageItem.StorageSourceID" class="border-right col-md-4 col-xs-4">
                        <ul class="item-container"></ul>
                    </div>
                    <div class="col-md-2 col-xs-2 border-right">
                        <ul class="sync-container"></ul>
                    </div>
                    <div data-source="@Model.SourceStorageItem.StorageSourceID" class="border-right col-md-4 col-xs-4">
                        <ul class="item-container"></ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
