@model CritterHeroes.Web.Features.Admin.Critters.Models.CritterSummaryModel

@{
    ViewBag.Title = "Critters Summary";
}

<div class="modal-container fade slide-down">

    <div class="modal-header">
        <button class="close pull-right" type="button" data-modal-close><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Summary</h4>
    </div>

    <div class="modal-body flex-column flex-wrap flex-stretch">
        @foreach (var status in Model.StatusSummary)
            {
            <div class="flex-row pad-xs">
                <a href="@Url.CritterHomeAction(status.StatusID)" data-status-id="@status.StatusID" class="flex-cell-s1">@status.Status</a>
                <div class="text-right">@status.CountDisplay</div>
            </div>
        }
    </div>

    <div class="modal-footer">
        <div class="flex-cell-s1">
            <strong>Total: @Model.StatusTotal</strong>
        </div>
        <span id="button-container">
            <button type="button" id="close" data-modal-close class="btn btn-primary">Close</button>
        </span>
    </div>

</div>
