@model CritterHeroes.Web.Areas.Models.Modal.ModalDialogModel

<div id="success-message" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>@Model.Text</p>
            </div>
            <div class="modal-footer">
                @foreach (var button in Model.Buttons)
                {
                    switch (button.ButtonType)
                    {
                        case CritterHeroes.Web.Areas.Models.Modal.ModalDialogButtonType.Button:
                            string dataDismiss = (button.IsDismissable ? "data-dismiss=modal" : "");
                            <button type="button" class="btn @button.CssClass.ClassName" @dataDismiss>@button.Text</button>
                            break;

                        case CritterHeroes.Web.Areas.Models.Modal.ModalDialogButtonType.Link:
                            <a href="@button.Url" class="btn @button.CssClass.ClassName">@button.Text</a>
                            break;
                    }
                }
            </div>
        </div>
    </div>
</div>