@model CritterHeroes.Web.Areas.Admin.Critters.Models.CrittersModel

@{
    ViewBag.Title = "Critters";
}

@section scripts{
    <script type="text/javascript">
        (function (cheroes) {
            cheroes.query = @JavascriptConvert.SerializeObject(Model.Query);
            cheroes.pictureUrl='@Url.Picture()';
        })(this.cheroes = this.cheroes || {});
    </script>
    <script type="text/javascript" src="@Url.For("handlebars.runtime.js")"></script>
    <script type="text/javascript" src="@Url.For("ch.critters-template.js")"></script>
    <script type="text/javascript" src="@Url.For("ch.critters-list.js")"></script>
}

<h2>Critters</h2>

<div class="filters-container">
    <section>Filters</section>
    <section>
        <label for="status-id">Status</label>
        <select id="status-id" data-filter="statusid">
            <option value="">Any status</option>
            @foreach (var item in Model.StatusItems)
            {
                <option value="@item.Value" selected="@item.Selected">@item.Text</option>
            }
        </select>
    </section>
    <section class="filter-buttons">
        @if (Model.ShowImport)
        {
            <a href="@Url.AdminCrittersImportAction()" class="btn btn-primary">Import</a>
        }
        <a href="@Url.AdminCrittersSummaryAction()" class="btn btn-primary">Summary</a>
    </section>
</div>

<div id="critters-container" class="flex-table" data-url="@Url.CritterListAction()">
</div>

<ul class="paging-container"></ul>
