@model CritterHeroes.Web.Areas.Admin.Critters.Models.CritterSummaryModel

@{
    ViewBag.Title = "Data Maintenance - Critters";
}

@section scripts{
    @Scripts.Render("~/bundles/admincritters")
}

<h2>Data Maintenance - Critters</h2>

<div class="clearfix">
    <form action="@Url.AdminCrittersUploadJsonAction()" method="post" enctype="multipart/form-data" class="pull-left">
        @Html.AntiForgeryToken()
        <div class="file-upload btn btn-primary">
            <span>Upload JSON</span>
            <input type="file" name="file" />
        </div>
    </form>

    <form action="@Url.AdminCrittersUploadCsvAction()" method="post" enctype="multipart/form-data" class="pull-left margin-left-small">
        @Html.AntiForgeryToken()
        <div class="file-upload btn btn-primary">
            <span>Upload CSV</span>
            <input type="file" name="file" />
        </div>
    </form>


    <form action="@Url.AdminCrittersUploadXmlAction()" method="post" enctype="multipart/form-data" class="pull-left margin-left-small">
        @Html.AntiForgeryToken()
        <div class="file-upload btn btn-primary">
            <span>Upload XML</span>
            <input type="file" name="file" />
        </div>
    </form>

    <form action="@Url.AdminCrittersImportAction()" method="post" class="pull-left margin-left-small">
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-primary" value="Import" />
    </form>

</div>

<h3>Summary</h3>

<table class="status-table">
    <tbody>
        @foreach (var status in Model.StatusSummary)
        {
            <tr>
                <td>@status.Status</td>
                <td class="text-right">@Html.DisplayFor(m => status.Count)</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td class="text-right"><strong>@Html.DisplayFor(m => m.StatusTotal)</strong></td>
        </tr>
    </tbody>
</table>
