@model CritterHeroes.Web.Areas.Admin.Critters.Models.CritterSummaryModel

@{
    ViewBag.Title = "Data Maintenance - Critters";
}

@section scripts{
    @Scripts.Render("~/bundles/admincritters")
}

<h2>Data Maintenance - Critters</h2>

<form action="@Url.AdminCrittersUploadJsonAction()" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="file-upload btn btn-primary">
        <span>Upload JSON</span>
        <input type="file" name="file" />
    </div>
</form>

<h3>Summary</h3>

<table class="status-table">
    <tbody>
        @foreach (var status in Model.StatusSummary)
        {
            <tr>
                <td>@status.Status</td>
                <td>@Html.DisplayFor(m => status.Count)</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td><strong>@Html.DisplayFor(m => m.StatusTotal)</strong></td>
        </tr>
    </tbody>
</table>
