@model CritterHeroes.Web.Areas.Admin.Critters.Models.CritterSummaryModel

@{
    ViewBag.Title = "Critters Summary";
}

@section scripts{
    <script type="text/javascript" src="@Url.For("ch.admin-critters.js")"></script>
}

<h2>Critters Summary</h2>

<table>
    <tbody>
        @foreach (var status in Model.StatusSummary)
        {
            <tr>
                <td><a href="@Url.CritterHomeAction(status.StatusID)">@status.Status</a></td>
                <td class="text-right">@Html.DisplayFor(m => status.Count)</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td class="text-right"><strong>@Html.DisplayFor(m => m.StatusTotal)</strong></td>
        </tr>
    </tbody>
</table>
