@model CritterHeroes.Web.Areas.Admin.Critters.Models.CritterSummaryModel

@{
    ViewBag.Title = "Critters Summary";
}

@section scripts{
    <script type="text/javascript" src="@Url.For("ch.admin-critters.js")"></script>
}

<h2>Critters Summary</h2>

<div class="flex-row margin-left-small">
    <form action="@Url.AdminCrittersUploadJsonAction()" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="file-upload btn btn-primary">
            <span>Upload JSON</span>
            <input type="file" name="file" />
        </div>
    </form>

    <form action="@Url.AdminCrittersUploadCsvAction()" method="post" enctype="multipart/form-data" class="margin-left-small">
        @Html.AntiForgeryToken()
        <div class="file-upload btn btn-primary">
            <span>Upload CSV</span>
            <input type="file" name="file" />
        </div>
    </form>


    <form action="@Url.AdminCrittersUploadXmlAction()" method="post" enctype="multipart/form-data" class="margin-left-small">
        @Html.AntiForgeryToken()
        <div class="file-upload btn btn-primary">
            <span>Upload XML</span>
            <input type="file" name="file" />
        </div>
    </form>

    <form action="@Url.AdminCrittersImportAction()" method="post" class="margin-left-small">
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-primary" value="Import" />
    </form>

</div>

<table>
    <tbody>
        @foreach (var status in Model.StatusSummary)
        {
            <tr>
                <td><a href="@Url.CritterHomeAction(status.StatusID)">@status.Status</a></td>
                <td class="text-right">@Html.DisplayFor(m => status.Count)</td>
            </tr>
        }
        <tr>
            <td><strong>Total</strong></td>
            <td class="text-right"><strong>@Html.DisplayFor(m => m.StatusTotal)</strong></td>
        </tr>
    </tbody>
</table>

@if (!Model.Messages.IsNullOrEmpty())
{
    <ul>
        @foreach (string message in Model.Messages)
        {
            <li>@message</li>
        }
    </ul>
}
