@model CritterHeroes.Web.Areas.Account.Models.ForgotPasswordModel

@using (var container = Html.FluentHtml().BootstrapModalContainer().Begin())
{
    using (var dialog = container.CreateDialog().Begin())
    {
        using (var content = dialog.CreateModalContent().Begin())
        {
            using (var header = content.CreateHeader().Begin())
            {
                @header.CreateCloseButton();
                @header.CreateTitle("Forgot Password");
            }
            <form id="reset-password-form" action="@Url.AccountAction(x => x.ForgotPassword())">
                @Html.AntiForgeryToken()
                @using (var body = content.CreateBody().Begin())
                {
                    <p id="message">Please enter your email address. Instructions for resetting your password will be emailed to you.</p>
                    <span id="success" style="display: none;">
                        <p>Instructions for resetting your password have been emailed to you. Please check your email and follow the provided instructions to complete resetting your password.</p>
                        <p>If you can't find the email, please check your spam folder.</p>
                    </span>
                    <section class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                            @Html.FluentHtml().Input().For(m => m.ResetPasswordEmail).ForBootstrap().AutoFocus()
                        </div>
                        @Html.ValidationMessageFor(m => m.ResetPasswordEmail)
                    </section>
                }
                @using (var footer = content.CreateFooter().Begin())
                {
                    <span class="busy message" style="display: none;">Resetting password...</span>
                    <span id="button-container">
                        <input id="reset-password" type="submit" class="btn btn-primary" value="Reset Password" />
                        <button id="close" type="button" data-dismiss="modal" class="btn btn-primary">Cancel</button>
                    </span>
                }
            </form>
        }
    }
}
