@model CritterHeroes.Web.Areas.Account.Models.ConfirmEmailModel

@{
    ViewBag.Title = "Confirm Email";
}

@section scripts{

    @Scripts.Render("~/bundles/chbusyindicator")

    <script type="text/javascript">

        (function (cheroes, $) {
            var btn = $('#submit').busyIndicator({ message: 'Confirming email...' });
            if (btn.data('show-modal') !== "") {
                $('#success-message').modal();
            }
        }(this.cheroes = this.cheroes || {}, jQuery));

    </script>
}

@using (var container = Html.FluentHtml().BootstrapModalContainer().ID("success-message").Begin())
{
    using (var dialog = container.CreateDialog().Begin())
    {
        using (var content = dialog.CreateModalContent().Begin())
        {
            using (var body = content.CreateBody().Begin())
            {
                @:Thank you for confirming your email address. You may now login.
            }
            using (var footer = content.CreateFooter().Begin())
            {
                <a href="@Url.AccountLoginAction()" class="btn btn-primary">Login</a>
            }
        }
    }
}

<div class="row">
    <div class="form-col-offset"></div>
    <div class="form-col">Please enter your email address and the confirmation code that was emailed to you.</div>
</div>

<div class="row">
    <div class="form-col-offset"></div>
    <div class="form-col">
        @using (Html.FluentHtml().Form().Begin())
        {
            @Html.AntiForgeryToken()

            <section class="form-group">
                @Html.ValidationSummary(excludePropertyErrors: true)
            </section>

            <section class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    @Html.FluentHtml().Input().For(m => m.Email).ForBootstrap().AutoFocus()
                </div>
                @Html.ValidationMessageFor(m => m.Email)
            </section>

            <section class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    @Html.FluentHtml().Input().For(m => m.ConfirmationCode).ForBootstrap()
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmationCode)
            </section>

            <section class="form-group">
                <span><input type="submit" id="submit" value="Confirm Email" data-show-modal="@Model.IsSuccess" /></span>
                <a href="@Url.AccountLoginAction()" class="primary">Cancel</a>
            </section>
        }
    </div>
</div>
