@model CritterHeroes.Web.Areas.Account.Models.EditProfileModel

@{
    ViewBag.Title = "Edit Profile";
}

@section scripts{
    <script type="text/javascript" src="@Url.For("ch.edit-profile.js")"></script>
}

<div id="modal-container"></div>

<div class="row">
    <div class="form-col-offset"></div>
    <div class="form-col">
        @using (Html.FluentHtml().Form().Begin())
        {
            @Html.AntiForgeryToken()

            <section>
                @Html.ValidationSummary(true, null)
            </section>

            <section>
                @Html.FluentHtml().Label().For(m => m.Email)
                <div class="input-group">
                    <div class="input-group-icon"><span class="icon-email"></span></div>
                    <span class="form-control" readonly="readonly" title="@Model.Email">@Model.Email</span>
                    <button id="edit-email" type="button" data-url="@Url.AccountEditProfileLoginAction()" class="btn btn-info"><span class="icon-edit"></span><span class="hide-xs">&nbsp;Change</span></button>
                </div>
            </section>

            <section id="unconfirmed-email" @(Model.UnconfirmedEmail.IsNullOrEmpty() ? "hidden" : "")>
                @Html.FluentHtml().Label().For(m => m.UnconfirmedEmail)
                <div class="input-group">
                    <span class="input-group-icon"><span class="icon-email"></span></span>
                    <span id="unconfirmed-email" class="form-control" readonly="readonly" title="@Model.UnconfirmedEmail">@Model.UnconfirmedEmail</span>
                </div>
            </section>

            <section>
                @Html.FluentHtml().Label().For(m => m.FirstName)
                <div class="input-group">
                    <span class="input-group-icon"><span class="icon-user"></span></span>
                    @Html.FluentHtml().Input().For(m => m.FirstName).ForBootstrap()
                </div>
                @Html.ValidationMessageFor(m => m.FirstName)
            </section>

            <section>
                @Html.FluentHtml().Label().For(m => m.LastName)
                <div class="input-group">
                    <span class="input-group-icon"><span class="icon-user"></span></span>
                    @Html.FluentHtml().Input().For(m => m.LastName).ForBootstrap()
                </div>
                @Html.ValidationMessageFor(m => m.LastName)
            </section>

            <section>
                <input type="submit" value="Save" />
                @Html.CancelButton()
            </section>
        }
    </div>
</div>
