@model CritterHeroes.Web.Areas.Account.Models.EditProfileSecureModel

@{
    ViewBag.Title = "Edit Profile";
}

@section scripts{
}

<div class="row">
    <div class="form-col-offset"></div>
    <div class="form-col">
        @using (Html.FluentHtml().Form().AutoCompleteOff().Begin())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ReturnUrl)

            <section class="form-group">
                @Html.ValidationSummary(true, null)
            </section>

            <section class="form-group">
                @Html.FluentHtml().Label().For(m => m.Email)
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    @Html.FluentHtml().Input().For(m => m.Email).ForBootstrap().AutoFocus()
                </div>
                @Html.ValidationMessageFor(m => m.Email)
            </section>

            <section class="form-group">
                <input type="submit" value="Save" />
            </section>
        }
    </div>
</div>
