@model CritterHeroes.Web.Areas.Account.Models.EditProfileModel

@{
    ViewBag.Title = "Edit Profile";
}

@section scripts{
    <script type="text/javascript" src="@Url.For("ch.edit-profile.js")"></script>
}

<form action="@Url.AccountEditProfileAction()" method="post" class="form-med center-horizontal">

    @Html.AntiForgeryToken()

    <section>
        @Html.ValidationSummary(true, null)
    </section>

    <section>
        <label>Email</label>
        <div class="input-group">
            <div class="input-group-icon"><span class="icon-email"></span></div>
            <span class="form-control" readonly="readonly" title="@Model.Email">@Model.Email</span>
            <button id="edit-email" type="button" data-url="@Url.AccountEditProfileLoginAction()" class="btn btn-info"><span class="icon-edit"></span><span class="hide-xs">&nbsp;Change</span></button>
        </div>
    </section>

    <section id="unconfirmed-email-section" class="@(Model.UnconfirmedEmail.IsNullOrEmpty() ? "hidden" : "")">
        <label>Unconfirmed Email</label>
        <div class="input-group">
            <span class="input-group-icon"><span class="icon-email"></span></span>
            <span id="unconfirmed-email" class="form-control" readonly="readonly" title="@Model.UnconfirmedEmail">@Model.UnconfirmedEmail</span>
        </div>
    </section>

    <section>
        <label for="@Html.NameFor(x => x.FirstName)">First Name</label>
        <div class="input-group">
            <span class="input-group-icon"><span class="icon-user"></span></span>
            <input type="text" name="@Html.NameFor(x => x.FirstName)" value="@Html.ValueFor(x => x.FirstName)" @Html.ValidationAttributesFor(x => x.FirstName) />
        </div>
        @Html.ValidationMessageFor(m => m.FirstName)
    </section>

    <section>
        <label for="@Html.NameFor(x => x.LastName)">Last Name</label>
        <div class="input-group">
            <span class="input-group-icon"><span class="icon-user"></span></span>
            <input type="text" name="@Html.NameFor(x => x.LastName)" value="@Html.ValueFor(x => x.LastName)" @Html.ValidationAttributesFor(x => x.LastName) />
        </div>
        @Html.ValidationMessageFor(m => m.LastName)
    </section>

    <section>
        <input type="submit" value="Save" />
        @Html.CancelButton()
    </section>

</form>
