@model CritterHeroes.Web.Areas.Account.Models.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

@section scripts{

    @Scripts.Render("~/bundles/chbusyindicator")

    <script type="text/javascript">

        (function (cheroes, $) {
            var btn = $('#submit').busyIndicator({ message: 'Resetting password...' });
            if (btn.data('show-modal') === "") {
                $('#success-message').modal();
            }
        }(this.cheroes = this.cheroes || {}, jQuery));

    </script>
}

@Html.ModalDialog(Model.ModalDialog)

<p>Please enter either your email address or your username. Instructions for resetting your password will be emailed to you.</p>

@using (Html.FluentHtml().Form().Begin())
{
    @Html.AntiForgeryToken()

    <section class="form-group">
        @Html.ValidationSummary(excludePropertyErrors: true)
    </section>

    <section class="form-group">
        <label for="email" class="control-label">Email address:</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            <input type="email" id="emailaddress" name="emailaddress" autofocus="autofocus" placeholder="Email address" class="form-control" />
        </div>
        @Html.ValidationMessage("email")
    </section>

    <section class="form-group">
        <label for="username" class="control-label">Username:</label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
            <input type="text" id="username" name="username" placeholder="Username" class="form-control" />
        </div>
        @Html.ValidationMessage("username")
    </section>

    <section class="form-group">
        @{string dataShowDialog = (Model.ModalDialog != null ? "data-show-modal" : ""); }
        <span><input type="submit" id="submit" value="Reset Password" @dataShowDialog /></span>
        <a href="@Url.AccountAction(x => x.Login(null))" class="primary">Cancel</a>
    </section>
}
