@model CritterHeroes.Web.Areas.Account.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@using (Html.FluentHtml().Form().LoginAction(Model.ReturnUrl).Class("form-horizontal").AutoCompleteOff().Begin())
{
    @Html.AntiForgeryToken()

    <section class="form-group">
        @Html.FluentHtml().Label().For(m => m.Username).Class("control-label")
        <div class="input-container">
            @Html.FluentHtml().InputText().For(m => m.Username).Class("form-control").Placeholder("Username").AutoFocus()
            @Html.ValidationMessageFor(m => m.Username)
        </div>
    </section>

    <section class="form-group">
        @Html.FluentHtml().Label().For(m => m.Password).Class("control-label")
        <div class="input-container">
            @Html.FluentHtml().InputPassword().For(m => m.Password).Class("form-control").Placeholder("Password")
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </section>

    <section class="form-group">
        <div class="offset input-container">
            @Html.ValidationSummary(true, null)
        </div>
    </section>

    <section class="form-group">
        <div class="offset input-container">
            <input type="submit" value="Login" />
        </div>
    </section>

    <section class="form-group">
        <div class="offset input-container">
            <a href="@Url.AccountAction(x => x.ConfirmEmail())">Have confirmation code?</a><br />
            <a href="@Url.AccountAction(x => x.ForgotPassword())">Forgot password?</a><br />
            <a href="@Url.AccountAction(x => x.ForgotUsername())">Forgot username?</a><br />
            <a href="@Url.AccountAction(x => x.ResendConfirmationCode())">Resend confirmation code?</a>
        </div>
    </section>
}
