@model CritterHeroes.Web.Areas.Account.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@section scripts{
    <script type="text/javascript" src="@Url.For("ch.busy-indicator.js")"></script>
    <script type="text/javascript" src="@Url.For("ch.login.js")"></script>
}

<div id="modal-container"></div>

<div class="row">
    <div class="form-col-offset"></div>
    <div class="form-col">
        @using (Html.FluentHtml().Form().LoginAction(Model.ReturnUrl).AutoCompleteOff().Begin())
        {
            @Html.AntiForgeryToken()

            <section class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                    @Html.FluentHtml().Input().For(m => m.Email).ForBootstrap().AutoFocus()
                </div>
                @Html.ValidationMessageFor(m => m.Email)
            </section>

            <section class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    @Html.FluentHtml().Input().For(m => m.Password).ForBootstrap()
                    <span class="input-group-btn"><button type="button" id="forgot-password" title="Forgot password?" class="btn btn-info" tabindex="-1" data-url="@Url.AccountForgotPasswordAction()">?</button></span>
                </div>
                @Html.ValidationMessageFor(m => m.Password)
            </section>

            <section class="form-group">
                @Html.ValidationSummary(true, null)
            </section>

            <section class="form-group">
                <input type="submit" value="Login" />
                <span class="pull-right">
                    <a href="@Url.AccountConfirmEmailAction()" tabindex="-1">Have confirmation code?</a><br />
                </span>
            </section>
        }
    </div>
</div>
