@model CritterHeroes.Web.Areas.Account.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@section scripts{
    <script type="text/javascript" src="@Url.For("ch.busy-indicator.js")"></script>
    <script type="text/javascript" src="@Url.For("ch.login.js")"></script>
}

<div class="row">
    <div class="form-col-offset"></div>
    <div class="form-col">
        @using (Html.FluentHtml().Form().LoginAction(Model.ReturnUrl).AutoCompleteOff().Begin())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="input-group">
                    <div class="input-group-icon"><span class="icon-email"></span></div>
                    @Html.FluentHtml().Input().For(m => m.Email).ForBootstrap().AutoFocus()
                </div>
                @Html.ValidationMessageFor(m => m.Email)
            </section>

            <section>
                <div class="input-group">
                    <div class="input-group-icon"><span class="icon-lock"></span></div>
                    @Html.FluentHtml().Input().For(m => m.Password).ForBootstrap()
                    <button type="button" id="forgot-password" title="Forgot password?" class="btn btn-info" tabindex="-1" data-url="@Url.AccountForgotPasswordAction()">?</button>
                </div>
                @Html.ValidationMessageFor(m => m.Password)
            </section>

            <section>
                @Html.ValidationSummary(true, null)
            </section>

            <section class="flex-row">
                <input type="submit" value="Login" />
                <a href="@Url.AccountConfirmEmailAction()" class="flex-cell-s1 text-right" tabindex="-1">Have confirmation code?</a><br />
            </section>
        }
    </div>
</div>
