@model CritterHeroes.Web.Areas.Account.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

@section scripts{

    @Scripts.Render("~/bundles/chbusyindicator")

    <script type="text/javascript">

        (function (cheroes, $) {
            var btn = $('#submit').busyIndicator({ message: 'Resetting password...' });
            if (btn.data('show-modal') === "") {
                $('#success-message').modal();
            }
        }(this.cheroes = this.cheroes || {}, jQuery));

    </script>
}

@Html.ModalDialog(Model.ModalDialog)

<p>Please enter your email and a new password to complete resetting your password.</p>

@using (Html.FluentHtml().Form().Begin())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Code)

    <section class="form-group">
        @Html.ValidationSummary(excludePropertyErrors: true)
    </section>

    <section class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
            @Html.FluentHtml().InputText().For(x => x.Email).AutoFocus().Placeholder("Username").Class("form-control")
        </div>
        @Html.ValidationMessageFor(x => x.Email)
    </section>

    <section class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            @Html.FluentHtml().InputPassword().For(x => x.Password).Placeholder("Password").Class("form-control")
        </div>
        @Html.ValidationMessageFor(x => x.Password)
    </section>

    <section class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
            @Html.FluentHtml().InputPassword().For(x => x.ConfirmPassword).Placeholder("Confirm Password").Class("form-control")
        </div>
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </section>

    <section class="form-group">
        @{string dataShowDialog = (Model.ModalDialog != null ? "data-show-modal" : ""); }
        <span><input type="submit" id="submit" value="Reset Password" @dataShowDialog /></span>
        <a href="@Url.AccountAction(x => x.Login(null))" class="primary">Cancel</a>
    </section>
}