<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Thanks to http://realfavicongenerator.net/ -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="@Url.Content("~/mstile-144x144.png")">
    <link rel="apple-touch-icon" sizes="57x57" href="@Url.Content("~/apple-touch-icon-57x57.png")">
    <link rel="apple-touch-icon" sizes="114x114" href="@Url.Content("~/apple-touch-icon-114x114.png")">
    <link rel="apple-touch-icon" sizes="72x72" href="@Url.Content("~/apple-touch-icon-72x72.png")">
    <link rel="apple-touch-icon" sizes="144x144" href="@Url.Content("~/apple-touch-icon-144x144.png")">
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/apple-touch-icon-60x60.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/apple-touch-icon-120x120.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/apple-touch-icon-76x76.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/apple-touch-icon-152x152.png")">
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/apple-touch-icon-180x180.png")">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-192x192.png")" sizes="192x192">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-160x160.png")" sizes="160x160">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-96x96.png")" sizes="96x96">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-16x16.png")" sizes="16x16">
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon-32x32.png")" sizes="32x32">

    <title>@ViewBag.Title - Critter Heroes</title>

    <link rel="stylesheet" href="@Url.For("normalize.css")">
    <link rel="stylesheet" href="@Url.For("site.css")">

    @RenderSection("css", required: false)

</head>
<body>

    <header>
        @{Html.RenderHomeMenuAction();}
        @{Html.RenderHomeHeaderAction();}
    </header>

    <main>
        <div>@RenderBody()</div>
        <aside></aside>
        <aside></aside>
    </main>

    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - The Other Tim Duncan - Critter Heroes</p>
    </footer>

    <script src="@Url.For("ch.cdnFallback.js")"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.1.min.js"></script>
    <script>
        cheroes.cdnFallback.jqueryFallback('@Url.For("jquery.js")');
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
    <script>
        cheroes.cdnFallback.jqueryValidationFallback('@Url.For("jquery.validate.js")');
    </script>

    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
    <script>
        cheroes.cdnFallback.unobtrusiveFallback('@Url.For("jquery.validate.unobtrusive.js")');
    </script>

    <script src="@Url.For("ch.dropdownify.js")"></script>
    <script src="@Url.For("cheroes.js")"></script>

    @RenderSection("scripts", required: false)

</body>
</html>
